@{
    ViewData["Title"] = "Info";
}
<br />
<br />
<p style="font-size:22px">
    Данный сервис предназначен для аренды автомобилей, доступных в каталоге.
    Арендовать транспортное средство возможно только в указанных пунктах выдачи.
    Для аренды необходимо иметь учетную запись на сервисе.
</p>
<p style="font-size:22px">
    Порядок действий при аренде автомобиля:
</p>
<ul style="font-size:22px">
    <li>
        Завести учетную запись или авторизоваться в системе;
    </li>
    <li>
        Выбрать автомобиль со статусом "Свободна";
    </li>
    <li>
        Из карточки автомобиля перейти к оформлению аренды;
    </li>
    <li>
        При оформлении необходимо указать время аренды, а также выбрать пункт выдачи;
    </li>
    <li>
        После завершения оформления все необходимые документы и указания по оплате будут высланы на Ваш email, указанный при регистрации.
    </li>
</ul>