<br/>
<ul>
    <li>
        <h3>Пункт №1</h3>
        <p>Адрес:  </p>
    </li>
    <li>
        <h3>Пункт №2</h3>
        <p>Адрес:  </p>
    </li>
    <li>
        <h3>Пункт №3</h3>
        <p>Адрес:  </p>
    </li>
    <li>
        <h3>Пункт №4</h3>
        <p>Адрес:  </p>
    </li>
</ul>