@model CarSharingApp.Models.LoginModel
@*  *@

<div class="modal-content" style="width:750px">
    <div class="modal-header" style="display:flex">
        @*<button class="close" id="closeWindow" data-dismiss="modal" area-hidden="true" style="color:red;font-size:25px">x</button>*@
        <h4 style="margin:auto">Войти или зарегистрироваться</h4>
    </div>
    <div class="modal-body" style="display: flex;flex-direction:column;width:750px">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-2", @onsubmit = "return loginSubmit()" }))
        {
            <p class="float">
                <label for="login"><i class="icon-user"></i>Логин</label>
                <input type="text" name="Login" id="login" placeholder="Логин">
            </p>
            <p class="float">
                <label for="password"><i class="icon-lock"></i>Пароль</label>
                <input type="password" name="Password" id="pass" placeholder="Пароль" class="showpassword" />
            </p>
            <p class="clearfix">
                <input type="submit" name="submit" value="Войти">
            </p>
        }
        <p id="empty_login_pass_message" style="color:red; margin:auto; display:none">Заполните все обязательные поля (Логин, Пароль)</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:signUpForm()" style="color:white; margin-left:20px" class="btn btn-info">Регистрация</a>
    </div>
</div>
